@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@400&display=swap");

body {
  min-height: 100vh;
  background-image: url("images/dandelion-bg.jpg");
  background-position: 85px 0px;
  background-repeat: no-repeat;
  background-size: 790px 697px;
  font-family: Arial, Montserrat;
  background-color: #ffffff;
}

.layout {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 1750px;
  margin: 0 auto;
}

.button-toggle {
  background-color: #007bff;
  color: whitesmoke;
  padding: 8px 15px;
  border: 2px darkblue dotted;
  cursor: pointer;
  transform: backgraund-color 0.3s;
}

.button-toggle.active {
  background-color: antiquewhite;
  color: black;
}

.layout__title {
  position: absolute;
  width: 846px;
  height: 78px;
  top: 220px;
  left: 217px;
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  font-family: Arial, Montserrat;
  line-height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #515076;
}

.layout__product-card {
  position: relative;
  width: 1110px;
  height: 1191px;
  top: 408px;
  left: 85px;
  border: 1px solid #515076;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 340px;
  height: 573px;
  background-color: #f7f7fa;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  padding: 20px;
  font-family: Arial, Montserrat;
}

.card__image {
  width: 100%;
  height: 245;
  object-fit: contain;
  align-self: center;
  margin-top: auto;
}

.card__subtitle {
  font-weight: 600px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #a5a3b9;
  margin-bottom: 5px;
}

.card__title {
  font-weight: 700px;
  font-style: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #515076;
  margin-bottom: 10px;
}

.card__desc {
  font-weight: 400px;
  font-style: regular;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin-bottom: 15px;
}

.card__composition {
  margin-bottom: 15px;
  font-family: Arial, Montserrat;
  color: #f7f7fa;
}

.composition__title {
  font-size: 13px;
  font-weight: 400;
  font-style: regular;
  line-height: 18px;
  font-family: Arial, Montserrat;
  color: #515076;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.composition__list {
  list-style: disc;
  color: #515076;
  font-family: Arial, Montserra;
  padding-left: 20px;
}

.composition__list li {
  font-weight: 400px;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-family: Arial, Montserrat;
}

.composition__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 60px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a5a4ad;
}

.card__price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 10px;
  gap: 5px;
  width: 290px;
  height: 24px;
  color: #515076;
}

.prise__label {
  font-weight: 700px;
  font-style: bold;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
  font-family: Arial, Montserrat;
}

.price__value {
  font-weight: 400px;
  font-style: regular;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
  font-family: Arial, Montserrat;
}

.card_1 {
  top: 408px;
  left: 85px;
}

.card_1 .card__image {
  top: 433px;
  left: 110px;
}

.card_1 .card__subtitle {
  width: 171px;
  height: 24px;
  top: 708px;
  left: 110px;
}

.card_1 .card__title {
  width: 220px;
  height: 27px;
  top: 737px;
  left: 110px;
}

.card_1 .card__desc {
  width: 287px;
  height: 36px;
  top: 769px;
  left: 110px;
}

.card_1 .card__composition {
  width: 252px;
  height: 87px;
  top: 820px;
  left: 110px;
}

.card_1 .composition__title {
  width: 49px;
  height: 18px;
  top: 820px;
  left: 110px;
}

.card_1 .composition__list {
  top: 843px;
  left: 110px;
}

.card_1 .card__price-box {
  width: 290px;
  height: 24px;
  top: 932px;
  left: 110px;
}

.card_1 .price-box__label {
  width: 56px;
  height: 24px;
  top: 932px;
  left: 110px;
}

.card_1 .price-box__value {
  width: 73px;
  height: 24px;
  top: 932px;
  left: 327px;
}

.card_2 {
  top: 408px;
  left: 470px;
}

.card_2 .card__image {
  width: 290;
  height: 245;
  top: 433px;
  left: 495px;
}

.card_2 .card__subtitle {
  width: 171px;
  height: 24px;
  top: 708px;
  left: 495px;
}

.card_2 .card__title {
  width: 230px;
  height: 27px;
  top: 737px;
  left: 495px;
}

.card_2 .card__desc {
  width: 291px;
  height: 36px;
  top: 769px;
  left: 495px;
}

.card_2 .card__composition {
  width: 86px;
  height: 87px;
  top: 820px;
  left: 495px;
}

.card_2 .composition__title {
  width: 49px;
  height: 18px;
  top: 820px;
  left: 495px;
}

.card_2 .composition__list {
  top: 843px;
  left: 495px;
}

.card_2 .card__price-box {
  width: 290px;
  height: 24px;
  top: 932px;
  left: 495px;
}

.card_2 .price-box__label {
  width: 56px;
  height: 24px;
  top: 932px;
  left: 495px;
}

.card_2 .price-box__value {
  width: 75px;
  height: 24px;
  top: 932px;
  left: 710px;
}

.card_3 {
  top: 408px;
  left: 855px;
}

.card_3 .card__image {
  top: 433px;
  left: 880px;
}

.card_3 .card__subtitle {
  width: 171px;
  height: 24px;
  top: 708px;
  left: 880px;
}

.card_3 .card__title {
  width: 210px;
  height: 27px;
  top: 737px;
  left: 880px;
}

.card_3 .card__desc {
  width: 291px;
  height: 36px;
  top: 769px;
  left: 880px;
}

.card_3 .card__composition {
  width: 222px;
  height: 87px;
  top: 820px;
  left: 880px;
}

.card_3 .composition__title {
  width: 49px;
  height: 18px;
  top: 820px;
  left: 880px;
}

.card_3 .composition__list {
  top: 843px;
  left: 880px;
}

.card_3 .card__price-box {
  width: 290px;
  height: 24px;
  top: 932px;
  left: 880px;
}

.card_3 .price-box__label {
  width: 56px;
  height: 24px;
  top: 932px;
  left: 880px;
}

.card_3 .price-box__value {
  width: 70px;
  height: 24px;
  top: 932px;
  left: 1100px;
}

.card_4 {
  top: 1026px;
  left: 277px;
}

.card_4 .card__image {
  top: 1051px;
  left: 302px;
}

.card_4 .card__subtitle {
  width: 171px;
  height: 24px;
  top: 1326px;
  left: 302px;
}

.card_4 .card__title {
  width: 251px;
  height: 27px;
  top: 1355px;
  left: 302px;
}

.card_4 .card__desc {
  width: 287px;
  height: 36px;
  top: 1387px;
  left: 302px;
}

.card_4 .card__composition {
  width: 86px;
  height: 87px;
  top: 1438px;
  left: 302px;
}

.card_4 .composition__title {
  width: 49px;
  height: 18px;
  top: 1438px;
  left: 302px;
}

.card_4 .composition__list {
  top: 1461px;
  left: 317px;
}

.card_4 .card__price-box {
  width: 290px;
  height: 24px;
  top: 1550px;
  left: 302px;
}

.card_4 .price-box__label {
  width: 56px;
  height: 24px;
  top: 1550px;
  left: 302px;
}

.card_4 .price-box__value {
  width: 75px;
  height: 24px;
  top: 1550px;
  left: 517px;
}

.card_5 {
  top: 1026px;
  left: 662px;
}

.card_5 .card__image {
  top: 1051px;
  left: 687px;
}

.card_5 .card__subtitle {
  width: 171px;
  height: 24px;
  top: 1326px;
  left: 687px;
}

.card_5 .card__title {
  width: 251px;
  height: 27px;
  top: 1355px;
  left: 687px;
}

.card_5 .card__desc {
  width: 291px;
  height: 36px;
  top: 1387px;
  left: 687px;
}

.card_5 .card__composition {
  width: 86px;
  height: 87px;
  top: 1438;
  left: 687px;
}

.card_5 .composition__title {
  width: 4px;
  height: 18px;
  top: 1438px;
  left: 687;
}

.card_5 .composition__list {
  width: 41px;
  height: 18px;
}

.card_5 .card__price-box {
  width: 290px;
  height: 24px;
  top: 1550px;
  left: 687px;
}

.card_5 .price-box__label {
  width: 56px;
  height: 24;
  top: 1550;
  left: 687px;
}

.card_5 .price-box__value {
  width: 73px;
  height: 24px;
  top: 1550px;
  left: 687;
}

#catalog-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.catalog-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  border: 1px solid #515076;
  padding: 15px;
}
.catalog-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
